.App {
  text-align: center;
  background-color: #1D1F20;
  margin: auto;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #E91E63, #9C27B0);
}

.Panel {
  background: linear-gradient(45deg, #101010, #172533);
  position: absolute;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
  border-radius: 3vmin;
	box-shadow: 0 1.5rem 4rem black;
  width: 80vmin;
  height: 80vmin;
}

@import url('https://fonts.googleapis.com/css?family=Codystar');
.appName {
  font-family: 'Codystar', regular;
  font-size: 30px;
  color: #d4aa00;
}

.upperElem {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.Coins {
  color: gold;
  font-size: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
.coins-number {
  font-family: 'Roboto', black;
  max-width: auto;
  margin-bottom: 15px;
}

.Buttons {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
  outline: none;
	color: #FFF;
	text-decoration: none;
}
.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.damn {
  background: linear-gradient(-45deg, #1d429e, #c94376, #37cdef);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
}

.yellow
{
	background-color: #f1c40f;
	border-bottom: 5px solid #f39c12;
	text-shadow: 0px -2px #f39c12;
}

.achieves {
  color:  #7b6300;
}


@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

@keyframes bob {
	from {
		transform: translate3d(0, 0 , 0);
	}
	to {
		transform: translate3d(0, 50%, 0);
	}
}

@keyframes bob-shadow {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

.coin {
  margin-bottom: 50px;
  margin-left: 30px;
	height: 70px;
	width: 70px;
	background: #f9af2f;
  background: #ffbd0b;
  border-radius: 50%;
  border-top: 7px solid #ffd84c;
  border-left: 7px solid #ffd84c;
  border-right: 7px solid #d57e08;
  border-bottom: 7px solid #d57e08;
  overflow: hidden;
   color: #ffbd0b;
   font-size: 40px;
   text-align: center;
   text-shadow: 0 3px 0 #cb7407;
   z-index: 3;
	animation-name: bob;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.75, 0, 0.85, 1);
	animation-iteration-count: infinite;
	animation-direction: alternate;
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 4px solid #0004;
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
